.daily {
   padding: rem(70) 0 rem(115);
   @media (max-width: $pc) {
      padding: rem(40) 0 rem(45);
   }
   @media (max-width: $mobile) {
      padding-top: rem(30);
   }
   // .daily__container
   &__container {
   }
   // .daily__head
   &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(20);
      .select {
         min-width: rem(180);
         @media (max-width: $tablet) {
            min-width: rem(125);
         }
         @media (max-width: $mobile) {
            min-width: rem(75);
         }
      }
      &:not(:last-child) {
         margin-bottom: rem(26);
      }
   }
   // .daily__title
   &__title {
      font-size: rem(22);
      font-weight: 500;
      color: #191919;
      letter-spacing: 0.025em;
      padding-left: rem(24);
      position: relative;
      @media (max-width: $tablet) {
         font-size: rem(16);
         padding-left: rem(20);
      }
      &::after {
         content: "";
         width: 10px;
         height: 19px;
         left: 0;
         top: 4px;
         position: absolute;
         background: #48acce;
         transform: skewX(-20deg);
         @media (max-width: $tablet) {
            height: 14px;
            width: 8px;
            top: 2px;
         }
      }
   }
   // .daily__grid
   &__grid {
      display: grid;
      gap: rem(20);
      @media (max-width: $tablet) {
         gap: rem(10);
      }
      &:not(:last-child) {
         margin-bottom: rem(70);
         @media (max-width: $pc) {
            margin-bottom: rem(40);
         }
      }
   }
   // .daily__item
   &__item {
   }
}

.item-daily {
   border-radius: 2px;
   background-color: #f9f9f9;
   padding: 35px;
   position: relative;
   @media (max-width: $tablet) {
      padding: 20px;
   }
   @media (max-width: $mobileSmall) {
      padding: rem(20) rem(15);
   }
   &::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 16px;
      background: $orangeColor;
      top: 73px;
      left: 0;
      @media (max-width: $tablet) {
         top: 45px;
      }
      @media (max-width: $mobileSmall) {
         top: 43px;
         width: 2px;
      }
   }
   // .item-daily__date
   &__date {
      color: #5b5b5b;
      font-family: "MyriadPro";
      @media (max-width: $tablet) {
         font-size: rem(13);
      }
      &:not(:last-child) {
         margin-bottom: rem(18);
         @media (max-width: $tablet) {
            margin-bottom: rem(11);
         }
         @media (max-width: $mobileSmall) {
            margin-bottom: rem(7);
         }
      }
   }
   // .item-daily__title
   &__title {
      color: #191919;
      font-size: rem(19);
      font-weight: 500;
      @media (max-width: $tablet) {
         font-size: rem(16);
      }
      &:not(:last-child) {
         margin-bottom: rem(29);
         @media (max-width: $tablet) {
            margin-bottom: rem(22);
         }
         @media (max-width: $mobileSmall) {
            margin-bottom: rem(17);
         }
      }
   }
   // .item-daily__text
   &__text {
      color: #5b5b5b;
      font-family: "MyriadPro";
      font-size: rem(18);
      line-height: math.div(27, 18);
      letter-spacing: 0.005em;
      @media (max-width: $tablet) {
         font-size: rem(13);
      }
   }
}
