.sponsors-block {
   background-color: #f7f6f6;
   // .sponsors-block__container
   &__container {
   }
   // .sponsors-block__title
   &__title {
      text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(60);
         @media (max-width: $pc) {
            margin-bottom: rem(35);
         }
         @media (max-width: $tablet) {
            margin-bottom: rem(25);
         }
      }
   }
   // .sponsors-block__content
   &__content {
      max-width: rem(760);
      margin: 0 auto;
      color: $Color_5b;
      font-size: rem(18);
      line-height: math.div(27, 18);
      font-family: "MyriadPro";
      letter-spacing: 0.005em;
      @media (max-width: $tablet) {
         font-size: rem(13);
         max-width: rem(480);
      }
      & > * {
         &:not(:last-child) {
            margin-bottom: rem(20);
            @media (max-width: $tablet) {
               margin-bottom: rem(12);
            }
         }
      }
      ul {
         padding-left: rem(17);
         @media (max-width: $tablet) {
            padding-left: rem(14);
         }
         @media (max-width: $mobileSmall) {
            padding-left: 0;
         }
         li {
            display: flex;
            gap: rem(17);
            @media (max-width: $tablet) {
               gap: rem(11);
            }

            &::before {
               content: "";
               display: inline-block;
               background: #48acce;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               flex-shrink: 0;
               top: 8px;
               position: relative;
               @media (max-width: $tablet) {
                  width: 4px;
                  height: 4px;
                  top: 6px;
               }
            }
            &:not(:last-child) {
               margin-bottom: rem(20);
               @media (max-width: $tablet) {
                  margin-bottom: rem(12);
               }
            }
         }
      }
   }
   // .sponsors-block__subtitle
   &__subtitle {
      font-size: rem(24);
      line-height: math.div(35, 24);
      font-weight: 500;
      font-family: "Oswald";
      color: $mainColor;
      @media (max-width: $tablet) {
         font-size: rem(18);
      }
      &:not(:last-child) {
         margin-bottom: rem(30);
         @media (max-width: $tablet) {
            margin-bottom: rem(20);
         }
      }
   }
}
